@mixin media($screenName){
    $width: 1312px;
  @if($screenName == smallMobile){
    $width: 320px
  } @else if($screenName == mobile){
    $width: 560px
  } @else if($screenName == tablet){
    $width: 780px
  } @else if($screenName ==  desktop){
    $width: 960px
  } @else if($screenName == bigDesktop) {
    $width: 1100px
  } @else if($screenName == wrapper){
    $width: 1312px
  }
  @media screen and (max-width: $width) {
    @content
  }
}
