// colors
$cBg: #e5e5e5;
$cDarkBlue: #012345;
$cLightBlue: #4959ff;
$cLightGrey: #f3f4f7;
$cDarkWhite: #fcfcfc;
$cGrey1: #677b8f;
$cGrey2: #99a7b5;
$cPink: #f84ab3;
$cPinkN: #f71d9f;

// dark mode
$dBg2: #011C37;
$dBtn1: #4959FF;


// border-radius
$rLg: 48px;
$rXs: 24px;
$rProductLg: 32px;
$rImg: 24px;
$rInput: 12px;

$breakpoints: (
  mobile-xs: 320px,
  mobile: 560px,
  mobile-l: 780px,
  tablet: 960px,
  desktop: 1100px,
  wrapper: 1312px,
);