@font-face {
  font-family: 'Codec Pro News';
  src: url('~@/assets/fonts/CodecPro-News.woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Codec Pro';
  src: url('~@/assets/fonts/CodecPro-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

* {
  font-family: Codec Pro News, serif;
  margin: 0;
  padding: 0;
  transition: color .3s ease, background-color .3s ease, box-shadow .3s ease;
}

html, body {
  height: 100%;
  width: 100%;
}

svg{
  width: 24px;
  height: 24px;

  @include media(mobile){
    width: 20px;
    height: 20px;
  }
}

.wrapper {
  margin: 0 auto;
  max-width: 1312px;

}

a {
  text-decoration: none;
}

button {
  padding: 0;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}

input {
  border-radius: $rInput;
  padding: 21px 24px;
  outline: none;
  border: none;
  background: var(--bg-secondary);
  color: var(--color-secondary);
  font-weight: 300;
  font-size: 16px;
  line-height: 14px;
}

